.scroll-hidden::-webkit-scrollbar {
    display: none;
}

.text-elipsis {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.glass {
    background: linear-gradient(
        148.05deg,
        rgba(255, 255, 255, 0.8) 9.93%,
        rgba(255, 255, 255, 0.3) 91.86%
    );
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10px);
}

.card-indent {
    border: 1px solid #e9e9e9;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}
